<div class="flex items-center justify-center bg-white px-4 py-10">
  <p-card styleClass="w-full max-w-md shadow-lg rounded-2xl px-2">
    <div class="flex gap-1 mb-4" style="flex-direction: column !important">
      <h1 class="text-2xl font-semibold text-gray-900">Добро пожаловать!</h1>
      <p class="text-sm text-gray-400">Войдите в свой аккаунт</p>
    </div>
    <form
      [formGroup]="form"
      (ngSubmit)="submit()"
      class="flex gap-2"
      style="flex-direction: column !important"
    >
      <div class="flex gap-1" style="flex-direction: column !important">
        <label class="text-sm font-medium text-gray-800" for="username">Имя пользователя</label>
        <input
          id="username"
          pInputText
          formControlName="username"
          class="w-full"
          autocomplete="username"
          placeholder="Введите имя пользователя"
        />
        @if ((submitted() || form.controls.username.touched) && form.controls.username.invalid) {
          <div class="text-xs text-red-600">Имя пользователя обязательно</div>
        }
      </div>

      <div class="flex gap-1" style="flex-direction: column !important">
        <label class="text-sm font-medium text-gray-800" for="password">Пароль</label>
        <p-password
          inputId="password"
          formControlName="password"
          [toggleMask]="true"
          [feedback]="false"
          styleClass="w-full"
          inputStyleClass="w-full"
          autocomplete="current-password"
          placeholder="Введите пароль"
        ></p-password>
        @if ((submitted() || form.controls.password.touched) && form.controls.password.invalid) {
          <div class="text-xs text-red-600">Пароль обязателен (минимум 8 символов)</div>
        }
      </div>

      @if (submitError()) {
        <div class="text-xs text-red-600">{{ submitError() }}</div>
      }

      <div class="flex flex-col gap-2 mt-4">
        <button
          pButton
          type="submit"
          class="w-full !h-10 !bg-emerald-500 !border-emerald-500 hover:!bg-emerald-600 hover:!border-emerald-600 !rounded-lg !text-white"
          label="Войти"
          [disabled]="loading()"
        ></button>
        <a
          routerLink="/register"
          class="w-full p-button p-component p-button-outlined !h-10 !rounded-lg text-center !border-emerald-500 !text-emerald-500 hover:!bg-cyan-50 flex items-center justify-center"
        >
          Зарегистрироваться
        </a>
      </div>
    </form>
  </p-card>
</div>
